<!DOCTYPE html>
<html>
<body style="text-align:center;"><h2>
    Hello, <b>${PERSON_NAME}!</b><br>Thank you for participating in The Butterknife's matchmaking survey!<br>Below are your Top 5 closest matches!</h2>
    <ol style="list-style-position: inside;margin-left:0px;">${BEST_MATCHES}</ol>
    <h5>The results from this survey were conducted through a system created by 21' Trey Walker.<br>The matches were determined based on individuals whose answers had the most similar among one another.

        <br>Love,<br>
        The Butterknife</h5>
</body>
</html>


